body { margin: 0px; padding: 0px; font-size: 16px; background-color: #DDDDDD; /*background-color: #393A3B;*/ }

.wrapper { width: 960px; margin: auto; padding: 0px 40px 0px 40px; overflow: hidden; background-color: #DDDDDD; /*background-color: #B4BCC2;*/
    border-left: 4px solid #777777; border-right: 4px solid #777777;
    -webkit-box-shadow: 0px 0px 4px 4px #B4BCC2;
    -moz-box-shadow: 0px 0px 4px 4px #B4BCC2;
    box-shadow: 0px 0px 4px 4px #B4BCC2;
}

.box-shadow {
    -webkit-box-shadow: 0px 0px 1px 1px #AD0A1D;
    -moz-box-shadow: 0px 0px 1px 1px #AD0A1D;
    box-shadow: 0px 0px 1px 1px #AD0A1D;

    background-color: #EDEEEF;
}

#head {	width: 100px; margin: 0px 0px 10px 0px; padding: 0px; }

.menu { width: 100%; margin: 0px 0px 40px 0px; padding: 0px; }

.menu ul { list-style: none; margin: 0px; padding: 0px; }

.menu li { float: left; width: 133.9px; background: #AD0A1D; margin-left: 3px; line-height: 30px; }

.menu a { display: block; text-align: center; height: 30px; }

.menu a:link { color: #EEEEEE; background: #AD0A1D; text-decoration: none; }

.menu a:visited { color: #EEEEEE; text-decoration: underline; }

.menu a:hover { color: #FFFFFF; font-weight: bold; text-decoration: underline; background: #19191A; }

#body {	margin: 40px 0px 20px 2px; padding: 20px 0px 0px 0px; display: block; }

.readcard { margin: 20px 0px 20px 0px; padding: 0px 20px 10px 20px; }

.readcard h2 { color: black; font-weight: normal; border-bottom: 1px dotted red; }

.dotline { border: 1px dotted gray; }

.bottommenu { width:100%; display: block; text-align: center; margin: 0px 300px 20px 300px; clear: left; }

.bottommenu ul { list-style: none; margin: 0px; padding: 0px; }

.bottommenu li { float: left; width: 40px; margin-left: 3px; line-height: 30px; }

.bottommenu a { display: block; text-align: center; height: 30px; }

.bottommenu a:link { color: black; text-decoration: none; }

.bottommenu a:visited { color: black; text-decoration: underline; }

.bottommenu a:hover { color: #222222; font-weight: bold; text-decoration: underline; }

.clear { clear: left; display: block; }

#copyright { float: left; margin: 0px 0px 0px 400px; display: block; text-align: center; }

