#szm { margin: 20px 0px 20px 0px; padding: 0px 20px 10px 20px; }

#szm h2 { color: black; font-weight: normal; border-bottom: 1px dotted red; }

#szm span { float: left; }

.szm_list { list-style: none; }

.szm_list a { background: green; display: block; text-align: center; margin: 4px 4px 4px 4px; }

.szm_list a:link { color: #000000; background-color: green; text-decoration: none; }

.szm_list a:visited { color: #000000; font-weight: bold; text-decoration: none; background: #D0D0D0; }

.szm_list a:hover { color: #000000; background-color: #B4BCC2; text-decoration: none; }

.szm_list li { float: left; }

.szm_list li span { display: block; }

.szm_list li ul { clear: left; list-style: none; }

.szm_list li ul li { float: left; width: 80px; }
